<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %> 件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_task">
    <%= form.label :タスク %>
    <%= form.text_field :task_name %>
  </div>
  <br>
  <div class="task_details">
    <%= form.label :詳細 %>
    <%= form.text_area :details %>
  </div>
  <%= form.submit %>
<% end %>
