<p id="notice"><%= notice %></p>
<p>
  <%= @task.task_name %>
  <%= @task.details %>
  <%= @task.created_at %>
  <%= @task.deadline %>
  <%= @task.priority %>
  <%= @task.status %>
  <% @task.labels.each do |label| %>
  <%= label.name %>
　<% end %>
</p>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Back', tasks_path %>
