<!DOCTYPE html>
<html>
  <head>
    <title>ManyouKadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if task.errors.any? %>
      <div class="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><% message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
